*{
    margin:0px;
    font-style: oblique;
    background-color:rgb(139, 201, 201);

}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    padding-left: 450px;
    margin: 0px;
    border: 15px;
    border-color: black;
    
    
    
}
h1{
    font-size: 45px;
    color: rgb(2, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 13px;

}
h2{
    font-size: 50px;
    color: rgb(7, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
